
.input-part{
    display: flex;
    flex-direction: row;
    width:65%;
    justify-content: space-between;
}
.input-two{
    margin-right: 40%;
}
.card-one{
    margin-right:20%;
}
.main-container{
display: flex;
flex-direction: column;
padding-top: 3%;
}
.card-part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container-a{
    padding-left: 10%;
    display: flex;
    padding-right: 10%;
    justify-content: center;
}
.container-b{
    
    background-color: white;
    padding-left: 10%;
 padding-right: 10%;
    
}
.booking-slot{
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.slot-1{
    background-color: white;
    border: 3px solid rgb(72, 9, 134);
    height: 185px;
    width: 350px;
    border-radius: 10px;
    margin-top: 1%;
    widows: 50%
}
.slot-2{
    background-color: white;
    border: 3px solid rgb(141, 247, 247);
    height: 185px;
    width: 350px;
    border-radius: 10px;
    margin-top: 1%;
    widows: 50%
}
.vl {
    flex: 0.6;
    background-color: blueviolet;
}
  .vl-two{
      flex: 1.4;
  }
.vl-2 {
    border-left: 20px solid rgb(227, 64, 233);
    height: 214px;
    margin-top: -7%;
    /* padding-left: 21%; */
    margin-left: 30%;
}
.profile-section{
    display: flex;
    
}
.image-sec{
    flex: 3;
    
    
}
.info-section{

    padding-top: 8%;
    padding-right: 8%;
    flex: 5;
    line-height: 10px;
   
}
.img-both{
    display: flex;
    flex-direction: column;
}
.pr-img{
    border-radius: 25px;
    flex: 5;
   

}
.line-hr{
    flex: 1;
    padding-bottom: 5%;
    
    background-color: rgb(174, 43, 226);
}
.travel-icon{
    border-radius: 25px;
    flex: 5;
    /* padding-top: 15%; */
    margin-top: 9%;
    padding-left: 5%;
}
.pr-name {
    font-size: 20px;
    font-weight: 600;
    margin-left: -23%;
    text-align: left;
    
}
.profession{
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    margin-left: -23%;
}
.pr-location{
    font-size: 15px;
    font-weight: 200;
    text-align: left;
    margin-left: -23%;

} 
.pr-status{
    font-size: 20px;
    font-weight: 200;
    text-align: left;
    padding-top: 5%;
    color: green;
    margin-left: -23%; 
}

.container-b .icon-tr img{
    height:"50px";
    width:"50px";
}

.booking-btn  {
    text-align: center;
    padding-top: 20%;
   
  }
  button{
    background-color: rgb(141, 247, 247);
    border-color: rgb(141, 247, 247);;
    width: 160px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    border-radius: 6px;
    height: 44px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-color: #ffffff !important;
    background-image: none;
    border-radius: 0px;
   }
   /* Remove IE arrow */
   select::-ms-expand {
    display: none;
   }
  /* Custom Select */
.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    overflow: hidden;
    border-bottom: 1px solid black;
   }
   select {
    flex: 1;
    padding: 0 .5em;
    color: #000;
    cursor: pointer;
    background: url('/images/arrow-down-sign-to-navigate.svg') 96% / 5% no-repeat;
   }
   input {
    border: none;
    border-bottom: 1px solid black;
    padding: 15px;
    background: url('/images/calendar-page-empty.svg') 96% / 10% no-repeat;
   }
   input:focus,
   textarea:focus,
   select:focus {
    outline: none;
   }
   .stats {
    background-color: #ffffff;
    width: 300px;
    height: 110px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 15px;
   }
   .stats .gender-wise,
   .stats .location-wise {
    align-items: center;
    display: flex;
   }
   .stats .gender-wise img {
    width: 40px;
   }
   .stats .location-wise img {
    width: 38px;
    padding-right: 2px;
   }
   .stats .gender-wise p,
   .stats .location-wise p {
    padding-left: 15px;
   }
   .stats .gender-wise p span,
   .stats .location-wise p span {
    font-style: italic;
    font-weight: bold;
   }
   .three-ts {
    background-color: #681BC8;
    width: 150px;
    border-radius: 5px;
    color: white;
    padding-left: 15px;
    height: 110px;
    -webkit-box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   }
   .three-ts p {
    margin: 0;
   }
   .three-ts p span {
    font-style: italic;
    font-weight: bold;
   }


   @media only screen and (min-width: 768px) and (max-width: 992px) {
    .input-part {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top:15px;
        
      }
      .card-part{
        display: flex;
        justify-content: center;
        flex-direction: column;
        
      }
      .three-ts{
          margin-top:20px;
          
      }
    }
 @media only screen and (max-width:768px) {
    .input-part{
        display: flex;
        flex-direction: column;
    }
    .datepicker{
        width: 100%;
    }
    .card-part{
        display: flex;
        flex-direction: column;
    }
    .container-a{
        display: flex;
        flex-direction: column;
        margin-left: 50px;

    }
    .card-one{
        
        margin-top:20px;
        margin-bottom: 20px;
       
    }
    .card-two{
        width:100%;
    }
   
    }